# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
env.bak/
venv.bak/

# Virtualenv
*.egg-info/
.installed.cfg
*.egg

# macOS
.DS_Store

# IDE and Editor
.idea/
*.iml
.vscode/

# System files
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

# Build and distribution
build/
dist/
*.egg-info/
*.egg

# Miscellaneous
*.swp
*~